:root {
  /* Grayscale Colors */
  --bim-ui_gray-0: hsl(210 10% 5%);
  --bim-ui_gray-1: hsl(210 10% 10%);
  --bim-ui_gray-2: hsl(210 10% 20%);
  --bim-ui_gray-4: hsl(210 10% 40%);
  --bim-ui_gray-6: hsl(210 10% 60%);
  --bim-ui_gray-8: hsl(210 10% 85%);
  --bim-ui_gray-9: hsl(210 10% 90%);
  --bim-ui_gray-10: hsl(210 10% 95%);

  /* Brand Colors */
  --bim-ui_main-base: #6528d7;
  --bim-ui_accent-base: #bcf124;

  /* Brand Colors Contrasts */
  --bim-ui_main-contrast: var(--bim-ui_gray-10);
  --bim-ui_accent-contrast: var(--bim-ui_gray-0);
}

/* Background Colors */
@media (prefers-color-scheme: dark) {
  :root {
    --bim-ui_bg-base: var(--bim-ui_gray-0);
    --bim-ui_bg-contrast-10: var(--bim-ui_gray-1);
    --bim-ui_bg-contrast-20: var(--bim-ui_gray-2);
    --bim-ui_bg-contrast-40: var(--bim-ui_gray-4);
    --bim-ui_bg-contrast-60: var(--bim-ui_gray-6);
    --bim-ui_bg-contrast-80: var(--bim-ui_gray-8);
    --bim-ui_bg-contrast-100: var(--bim-ui_gray-10);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bim-ui_bg-base: var(--bim-ui_gray-10);
    --bim-ui_bg-contrast-10: var(--bim-ui_gray-9);
    --bim-ui_bg-contrast-20: var(--bim-ui_gray-8);
    --bim-ui_bg-contrast-40: var(--bim-ui_gray-6);
    --bim-ui_bg-contrast-60: var(--bim-ui_gray-4);
    --bim-ui_bg-contrast-80: var(--bim-ui_gray-2);
    --bim-ui_bg-contrast-100: var(--bim-ui_gray-0);
    --bim-ui_accent-base: #6528d7;
  }
}

html.bim-ui-dark {
  --bim-ui_bg-base: var(--bim-ui_gray-0);
  --bim-ui_bg-contrast-10: var(--bim-ui_gray-1);
  --bim-ui_bg-contrast-20: var(--bim-ui_gray-2);
  --bim-ui_bg-contrast-40: var(--bim-ui_gray-4);
  --bim-ui_bg-contrast-60: var(--bim-ui_gray-6);
  --bim-ui_bg-contrast-80: var(--bim-ui_gray-8);
  --bim-ui_bg-contrast-100: var(--bim-ui_gray-10);
}

html.bim-ui-light {
  --bim-ui_bg-base: var(--bim-ui_gray-10);
  --bim-ui_bg-contrast-10: var(--bim-ui_gray-9);
  --bim-ui_bg-contrast-20: var(--bim-ui_gray-8);
  --bim-ui_bg-contrast-40: var(--bim-ui_gray-6);
  --bim-ui_bg-contrast-60: var(--bim-ui_gray-4);
  --bim-ui_bg-contrast-80: var(--bim-ui_gray-2);
  --bim-ui_bg-contrast-100: var(--bim-ui_gray-0);
  --bim-ui_accent-base: var(--bim-ui_main-base);
}

* {
  margin: 0;
}

body {
  height: 100vh;
}

html {
  font-family: sans-serif;
}

bim-grid:not([floating]) > bim-panel {
  border-radius: 0;
}

bim-grid[floating] > bim-toolbar {
  justify-self: center;
}