:root {
  /* Grayscale Colors */
  --bim-ui_gray-0: hsl(220, 20%, 8%);
  --bim-ui_gray-1: hsl(220, 15%, 12%);
  --bim-ui_gray-2: hsl(220, 10%, 20%);
  --bim-ui_gray-4: hsl(220, 5%, 30%);
  --bim-ui_gray-6: hsl(220, 3%, 60%);
  --bim-ui_gray-8: hsl(220, 2%, 60%);
  --bim-ui_gray-9: hsl(220, 1%, 70%);
  --bim-ui_gray-10: hsl(220, 0%, 80%);

  /* Brand Colors */
  /* --bim-ui_main-base: #4179b5;
  --bim-ui_accent-base: #28A745; */

  /* Brand Colors Contrasts */
  --bim-ui_main-contrast: var(--bim-ui_gray-10);
  --bim-ui_accent-contrast: var(--bim-ui_gray-0);
}

/* Background Colors */
@media (prefers-color-scheme: dark) {
  :root {
    --bim-ui_bg-base: var(--bim-ui_gray-0);
    --bim-ui_bg-contrast-10: var(--bim-ui_gray-1);
    --bim-ui_bg-contrast-20: var(--bim-ui_gray-2);
    --bim-ui_bg-contrast-40: var(--bim-ui_gray-4);
    --bim-ui_bg-contrast-60: var(--bim-ui_gray-6);
    --bim-ui_bg-contrast-80: var(--bim-ui_gray-8);
    --bim-ui_bg-contrast-100: var(--bim-ui_gray-10);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bim-ui_bg-base: var(--bim-ui_gray-10);
    --bim-ui_bg-contrast-10: var(--bim-ui_gray-9);
    --bim-ui_bg-contrast-20: var(--bim-ui_gray-8);
    --bim-ui_bg-contrast-40: var(--bim-ui_gray-6);
    --bim-ui_bg-contrast-60: var(--bim-ui_gray-4);
    --bim-ui_bg-contrast-80: var(--bim-ui_gray-2);
    --bim-ui_bg-contrast-100: var(--bim-ui_gray-0);
    --bim-ui_accent-base: #6528d7;
  }
}

html.bim-ui-dark {
  --bim-ui_bg-base: var(--bim-ui_gray-0);
  --bim-ui_bg-contrast-10: var(--bim-ui_gray-1);
  --bim-ui_bg-contrast-20: var(--bim-ui_gray-2);
  --bim-ui_bg-contrast-40: var(--bim-ui_gray-4);
  --bim-ui_bg-contrast-60: var(--bim-ui_gray-6);
  --bim-ui_bg-contrast-80: var(--bim-ui_gray-8);
  --bim-ui_bg-contrast-100: var(--bim-ui_gray-10);
}

html.bim-ui-light {
  --bim-ui_bg-base: var(--bim-ui_gray-10);
  --bim-ui_bg-contrast-10: var(--bim-ui_gray-9);
  --bim-ui_bg-contrast-20: var(--bim-ui_gray-8);
  --bim-ui_bg-contrast-40: var(--bim-ui_gray-6);
  --bim-ui_bg-contrast-60: var(--bim-ui_gray-4);
  --bim-ui_bg-contrast-80: var(--bim-ui_gray-2);
  --bim-ui_bg-contrast-100: var(--bim-ui_gray-0);
  --bim-ui_accent-base: var(--bim-ui_main-base);
}

* {
  margin: 0;
}

body {
  height: 100vh;
}

html {
  font-family: sans-serif;
  font-size: 17px;
}

bim-grid[floating] {
  z-index: 100;
}

bim-grid:not([floating]) {
  border-radius: 0;
  background-color: var(--bim-ui_bg-contrast-10);
}

bim-panel {
  outline: 1px solid var(--bim-ui_bg-contrast-40);
  border-radius: 0.25rem;
}

bim-grid:not([floating]) > bim-panel {
  background-color: var(--bim-ui_bg-contrast-10);
}

bim-panel-section {
  --bim-panel-section_hc: var(--bim-ui_accent-base);
  overflow: auto;
}

bim-panel-section > bim-table {
  flex: 1;
}

:not(bim-panel) > bim-panel-section {
  outline: 1px solid var(--bim-ui_bg-contrast-40);
  border-radius: 0.25rem;
}

bim-grid[floating] > bim-toolbar {
  border: none;
  justify-self: center;
  outline: 1px solid var(--bim-ui_bg-contrast-40);
}


bim-context-menu {
  background-color: var(--bim-ui_bg-base);
  outline: 1px solid var(--bim-ui_bg-contrast-40);
}

bim-context-menu bim-button {
  background-color: transparent;
}

bim-context-menu bim-button[active] {
  background-color: var(--bim-ui_main-base);
}

bim-context-menu bim-dropdown {
  --bim-input--bgc: transparent
}

bim-context-menu bim-button:hover {
  background-color: var(--bim-ui_main-base) !important;
}

.context-style-a {
  --bim-input--bgc: transparent
}

.context-panel {
  padding: 0; 
  max-height: none;
}

.context-panel bim-dropdown {
  --bim-input--bgc: var(
    --bim-dropdown--bgc,
    var(--bim-ui_bg-contrast-20)
  )
}

.dashboard-card {
  padding: 1rem; 
  display: flex; 
  flex-direction: column; 
  gap: 1rem; 
  box-shadow: 0px 2px 8px var(--bim-ui_bg-contrast-10); 
  border-radius: 0.25rem; 
  outline: 1px solid var(--bim-ui_bg-contrast-40);
  background-color: var(--bim-ui_bg-contrast-10);
  overflow: auto;
}

bim-grid[floating] .dashboard-card {
  background-color: var(--bim-ui_bg-base);
  height: fit-content;
}

.dashboard-card > div:first-child {
  overflow: hidden;
}

.card-label {
  font-size: 0.9rem;
  color: var(--bim-ui_accent-base);
  font-weight: bold;
  flex-shrink: 0;
}

.viewer-message-label {
  justify-self: center;
  background-color: #dad588;
  padding: 0.75rem;
  border-radius: 0.25rem;
  color: #424025;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}